{% extends "base.html" %}

{% block title %}Neural Network{% endblock %}
{% block header %} <strong>Super Cool Neural Network</strong>{% endblock %}
{% block content %}
							<!-- Banner -->
							<section id="banner">
								<div class="content">
									<header>
										<h1>{{filename}}</h1>
										<p><strong>Two Neural networks that tell you what is in your image</strong> (or at least try to)</p>
									</header>
									<p>The {{network}} network predicts: <strong> {{prediction}} </p>
									<ul class="actions">
										{% if network == "Tensorflow" %}
										<li><a href="{{url_for('tf_predict')}}" class="button big">Try again</a></li>
										{% endif %}
										{% if network == "Numpy" %}
										<li><a href="{{url_for('np_predict')}}" class="button big">Try again</a></li>
										{% endif %}
									</ul>
								</div>
								<span class="image object">
									{% if filepath %}
									<img src="{{url_for('static', filename=filepath)}}" alt="" />
									{% endif %}
								</span>
							</section>
{% endblock %}