{% extends "base.html" %}

{% block title %}Neural Network{% endblock %}

<body class="is-preload">
    <div class="wrapper">
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>Actions</h3>
            </div>
            <ul class="list-unstyled components">
                <li>
                    <a href="#">Predict</a>
                </li>
                <li>
                    <a href="#">Statistics</a>
                </li>
            </ul>
        </nav>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
</body>
</html>