{% extends "index.html" %}
{% block title %}	
	About
{% endblock title %}
{% block header %}
	<strong>
		Super Cool Neural Network
	</strong>
{% endblock %}
{% block content %}
			<!-- Content -->
			<section id="banner">
				<div class="content">
					<header>
						<h1>About this project<br></h1>
					</header>
					<ul>
						<li>
							<strong>Status:</strong> In progress.<br>
						</li>
						<li>
							<strong>Tools used: </strong>
						</li>
						<ul style="list-style-type: square;">
							<li>
								Flask
							</li>
							<li>
								PIL
							</li>
							<li>
								Matplotlib
							</li>
							<li>
								Numpy
							</li>
							<li>
								Tensorflow
							</li>
						</ul>
					</ul>
				</div>
			</section>
{% endblock content %}