{% extends "base.html" %}

{% block title %}Neural Network{% endblock %}
{% block header %} <strong>Super Cool Neural Network</strong>{% endblock %} 
{% block content %}
							<!-- Banner -->
							<section id="banner">
								<div class="container">
									<header>
										<h1 align="center">Numpy nework stats</h1>
									</header>
									<div class="row">
										<div class="col-sm-5">
											<h2>Training set</h2>
											<table>
												<thead>
													<tr>
														<th> </th>
													{% for label in class_rep_train["T-shirt/top"].keys() %}
														<th>
															{{label}}
														</th>
													{% endfor %}
													</tr>
												</thead>
												<tbody>
													{% for key,value in class_rep_train.items() %}
													<tr>
													<td><b>{{key}}</b></td>
														{% if value is mapping %}
															{% for key2,value2 in value.items() %}
																	<td>
																		{% if value2 % 1 != 0 %}
																			{{'%0.5f'|format(value2)}}
																		{% else %}
																			{{value2}}
																		{% endif %}
																	</td>
															{% endfor %}
														{% else %}
														<td>{{value}}</td>
														{% endif %}
														
													</tr>
													{% endfor %}
												</tbody>
											</table>
										</div>
										<div class="col-sm-7">
											<span class="card" style="width: 350px;">
												<img src="{{url_for('static', filename='/graphs/train_matrix.png')}}"class="card-img-top" style="width: 100%;">
											</span>
										</div>
									</div>
									<div class="row">
										<!-- Break -->
										<div class="col-sm-4">
											<h2>Validation set</h2>
											<table>
												<thead>
													<tr>
														<th> </th>
													{% for label in class_rep_valid["T-shirt/top"].keys() %}
														<th>
															{{label}}
														</th>
													{% endfor %}
													</tr>
												</thead>
												<tbody>
													{% for key,value in class_rep_valid.items() %}
													<tr>
													<td><b>{{key}}</b></td>
														{% if value is mapping %}
															{% for key2,value2 in value.items() %}
																	<td>
																		{% if value2 % 1 != 0 %}
																			{{'%0.5f'|format(value2)}}
																		{% else %}
																			{{value2}}
																		{% endif %}
																	</td>
															{% endfor %}
														{% else %}
														<td>{{value}}</td>
														{% endif %}
														
													</tr>
													{% endfor %}
												</tbody>
											</table>
										</div>
										<div class="col-sm-8">
											<span class="card" style="width: 350px;">
												<img src="{{url_for('static', filename='/graphs/valid_matrix.png')}}"class="card-img-top" style="width: 100%;">
											</span>
										</div>
									</div>
									<div class="row">
										<!-- Break -->
										<div class="col-sm-4">
											<h2>Test Set</h2>
											<table>
												<thead>
													<tr>
														<th> </th>
													{% for label in class_rep_test["T-shirt/top"].keys() %}
														<th>
															{{label}}
														</th>
													{% endfor %}
													</tr>
												</thead>
												<tbody>
													{% for key,value in class_rep_test.items() %}
													<tr>
													<td><b>{{key}}</b></td>
														{% if value is mapping %}
															{% for key2,value2 in value.items() %}
																	<td>
																		{% if value2 % 1 != 0 %}
																			{{'%0.5f'|format(value2)}}
																		{% else %}
																			{{value2}}
																		{% endif %}
																	</td>
															{% endfor %}
														{% else %}
														<td>{{value}}</td>
														{% endif %}
														
													</tr>
													{% endfor %}
												</tbody>
											</table>
										</div>
										<div class="col-sm-8">
											<span class="card" style="width: 350px;">
												<img src="{{url_for('static', filename='/graphs/test_matrix.png')}}"class="card-img-top" style="width: 100%;">
											</span>
										</div>
									</div>
								</div>
							</section>
{% endblock %}