{% extends "base.html" %}

{% block title %}Neural Network{% endblock %}
{% block header %} <strong>Super Cool Neural Network</strong>{% endblock %}
{% block content %}
			<!-- Banner -->
			<section id="banner">
				<div class="content">
					<header>
						<h1>Test of the post method of the stats function</h1>
						<p>Upload your image.</p>
						<form method='POST' enctype=multipart/form-data>
							<input type='submit' value='Predict'>
						</form>
					</header>
				</div>
			</section>
{% endblock %}